<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <title>Proceso ETL</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">
    
<div class="alert alert-info text-center">

    <h3>⚙ PASO 3 DE 7</h3>

    <h4>PROCESO ETL</h4>

</div>
<div class="container mt-5">

    <div class="card shadow p-5">

        <h1>
            PROCESO ETL
        </h1>

        <hr>

        <h3>EXTRACT</h3>

        <ul>
            <li>✔ Excel leído correctamente</li>
            <li>✔ Datos obtenidos desde staging</li>
        </ul>

        <h3>TRANSFORM</h3>

        <ul>
            <li>✔ Fechas convertidas</li>
            <li>✔ Datos estandarizados</li>
            <li>✔ Limpieza realizada</li>
        </ul>

        <h3>LOAD</h3>

        <ul>
            <li>✔ dim_usuario cargada</li>
            <li>✔ dim_menu cargada</li>
            <li>✔ dim_tiempo cargada</li>
            <li>✔ fact_consumo cargada</li>
        </ul>

        <div class="mt-4">

            <a href="/staging" class="btn btn-secondary">
                ← Regresar
            </a>

            <a href="/snowflake" class="btn btn-primary">
                Continuar →
            </a>

        </div>

    </div>

</div>

</body>
</html>