<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>
        Plataforma Analítica con Business Intelligence, Big Data e IA Ética para la Mejora de Reducción del Desperdicio en Comedores Universitarios

    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-dark text-light">
    
    <div class="alert alert-primary text-center">

        <h3>📂         Plataforma Analítica con Business Intelligence, 

        <h4>Big Data e IA Ética para la Mejora de Reducción del Desperdicio en Comedores Universitarios
</h3></h4>

    </div>
<div class="container mt-5">

    <div class="text-center">

        <h1 class="display-3">

            BI COMEDOR UNIVERSITARIO 

        </h1>

        <p class="lead mt-4">

            Plataforma Inteligente de Analítica y Predicción

        </p>

        <a href="/carga"
           class="btn btn-primary btn-lg mt-4">

            COMENZAR

        </a>

    </div>

</div>

</body>

</html>