<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>
        KPIs
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">
<div class="alert alert-danger text-center">

    <h3>🤖 PASO 6 DE 7</h3>

    <h4>KPIS</h4>

</div>
<div class="container mt-5">

    <h1 class="mb-5">

        KPIs 

    </h1>

    <div class="row">

        <div class="col-md-3">

            <div class="card p-4 shadow">

                <h5>Total Comidas</h5>

                <h2>1200</h2>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card p-4 shadow">

                <h5>Ingresos</h5>

                <h2>S/. 5400</h2>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card p-4 shadow">

                <h5>Ocupación</h5>

                <h2>85%</h2>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card p-4 shadow">

                <h5>Satisfacción</h5>

                <h2>92%</h2>

            </div>

        </div>

    </div>

    <a href="/dashboard"
       class="btn btn-primary mt-5">

        Ver Dashboard

    </a>
    <div class="mt-5 text-center">

            <a href="/predicciones"
               class="btn btn-secondary">

                ← Regresar

            </a>

        </div>

</div>

</body>

</html>