<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>
        Modelo Copo de Nieve
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-dark text-light">
    
<div class="alert alert-success text-center">

    <h3>❄ PASO 4 DE 7</h3>

    <h4>DATA WAREHOUSE - MODELO COPA DE NIEVE</h4>

</div>
<div class="container mt-5 text-center">

    <h1 class="mb-4">

        DATA WAREHOUSE 

    </h1>

    <h3 class="text-info mb-5">

        Modelo Copo de Nieve generado desde SQL Server

    </h3>

    <div class="card bg-black p-4 shadow-lg">

        <img
            src="{{ url_for('static', filename='img/snowflake.png') }}"
            class="img-fluid rounded">

    </div>

    <div class="mt-5">

        <a href="/staging"
           class="btn btn-secondary btn-lg">

            ← Regresar

        </a>

        <a href="/predicciones"
           class="btn btn-primary btn-lg ms-3">

            Continuar →

        </a>

    </div>

</div>

</body>

</html>